<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add recipe</title>
</head>
<body>
<h1>Add a new recipe</h1>

<form action="#" th:action="@{/new-recipe}" th:object="${createUpdateRecipeDto}" method="post">
    Name:
    <input type="text" th:field="*{name}"/>
    <br/>
    Type:
<!--    <input type="text" th:field="*{typesOfRecipesId}" list="typesList">-->
<!--    <datalist id="typesList">-->
<!--        <option th:value="${typesOfRecipe.id}" th:each="typesOfRecipe:${typesList}" th:text="${typesOfRecipe.name}"></option>-->
<!--    </datalist>-->
    <select th:field="*{typeOfRecipeId}">
        <option th:value="${typesOfRecipe.id}" th:each="typesOfRecipe: ${typesList}" th:text="${typesOfRecipe.name}"></option>
    </select>
    <br/>
    Level:
    <select name="level" th:field="*{level}">
        <option th:each="level : ${T(startspring2.com.example.cookpage.model.RecipeLevel).values()}"
                th:value="${level}" th:text="${level}"></option>
    </select>
    <br/>
    Time:
    <input type="text" th:field="*{time}"/>
    <br/>
    Ingredients:
    <table>
        <tr>
            <th>Amount</th>
<!--            <th>Unit</th>-->
            <th>Ingredient</th>
        </tr>
        <tr th:each="amountDto, itemStat : *{ingredientsWithAmount}">
            <td><input th:field="*{ingredientsWithAmount[__${itemStat.index}__].amount}"/></td>
<!--            <td><input th:field="*{ingredientsWithAmount[${itemStat.index}].id}"/></td>-->
            <td><input th:field="*{ingredientsWithAmount[__${itemStat.index}__].ingredientId}"/></td>
        </tr>
    </table>
<!--    <input type="text" th:field="*{ingredientsWithAmount}"/>-->
<!--    <br/>-->
    Details:
    <br/>
    <textarea name="details" row="10" cols="30" th:field="*{details}"></textarea>
    <br/>

    <input type="submit" value="submit"/>
</form>
</body>
</html>