<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
</head>
<body>
<div th:replace="layout :: header"></div>

<div id="background">
    <div th:replace="layout :: menu"></div>
    <div id="content">Hi! It's a website with your recipes. You can add a new recipe or an ingredient which you use
        in your kitchen. <br/> And you can also search your recipes by name, ingredients in it, time cooking, level of recipes
        or its type. <br/> Have a nice cooking.</div>
</div>
<div th:replace="layout :: footer"></div>


</body>
</html>