<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<h1>Search:</h1>
<form th:action="@{/selected-recipes}">
    <label>
        Type:
        <input type="text" th:name="typeRecipe" list="typesList">
        <datalist id="typesList">
            <option th:value="${type.name}" th:each="type : ${types}" th:text="${type.name}"></option>
        </datalist>
    </label>
<br/>
    <br/>
    <label>Level:</label>
    <div th:each="level : ${levels}">
        <label>
            <input type="radio" th:name="levelRecipe" th:value="${level}" th:text="${level.displayName}">
        </label>
    </div>
<br/>
    <label>
        Time:
        <br/>
        <input type="radio" th:name="timeRecipe" value="20">20 minutes or less<br>
        <input type="radio" th:name="timeRecipe" value="60">60 minutes or less<br>
        <input type="radio" th:name="timeRecipe" value="61">more than 60 minutes<br>
    </label>


    <input type="submit" value="Search">
</form>
</body>
</html>