<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<h1>Search</h1>
<form th:action="@{/recipes-with-the-ingredient}">
    <label>
        Ingredient:
        <input th:name="ingredientIdA" list="ingredientsA">
        <datalist id="ingredientsA">
            <option th:value="${ingredient.id}" th:each="ingredient:${ingredients}" th:text="${ingredient.name}"></option>
        </datalist>
        <input th:name="ingredientIdB" list="ingredientsB">
        <datalist id="ingredientsB">
            <option th:value="${ingredient.id}" th:each="ingredient:${ingredients}" th:text="${ingredient.name}"></option>
        </datalist>
        <input th:name="ingredientIdC" list="ingredientsC">
        <datalist id="ingredientsC">
            <option th:value="${ingredient.id}" th:each="ingredient:${ingredients}" th:text="${ingredient.name}"></option>
        </datalist>
    </label>
    <input type="submit" value="Search">
</form>

</body>
</html>