<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<h1>Search:</h1>
<form th:action="@{/the-recipe}">
<!--    <label>-->
<!--        Name:-->
<!--        <select th:name="id">-->
<!--            <option th:value="${recipe.id}" th:each="recipe:${recipes}" th:text="${recipe.name}"></option>-->
<!--        </select>-->
<!--    </label>-->

    <label>
        Name:
        <input th:name="id" list="recipes">
        <datalist id="recipes">
            <option th:value="${recipe.id}" th:each="recipe:${recipes}" th:text="${recipe.name}"></option>
        </datalist>
    </label>

    <input type="submit" value="Search">
</form>
</body>
</html>